* {
    box-sizing: border-box;
}

#centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
    font-size: 18px;
}

#labelproxurl {
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#runprox, #proxurl {
    border-radius: 5px;
}